<div class='answer-form'>  
  <div class="col-sm-7">
    <input type="text" class="form-control"
    placeholder="Answer Title" name="answers[title][]">
  </div>
  <span class="glyphicon remove-btn glyphicon-minus-sign"></span></button>
</div>