<div class='answer-form'>  
<div class="col-sm-7">
  <input type="text" class="form-control"
  placeholder="Answer Title" name="answers[title][]">
</div>
<button class='remove-btn btn btn-danger btn-xs col-sm-1'>
  <span class="glyphicon glyphicon-remove"></span></button>
</div>