<!-- <%= link_to "hello", helloworld_url %> -->
<div id="splash">
  <div class="backdrop">
    <h1 id="title"><strong>Real-time Polls</strong></h1>
    <h4 id="descriptor">See what people are thinking now</h4>    
  
  
    <a class="poll-button" href='/#/questions/home'><button class='btn btn-default'>Check Out the Current Poll!</button></a>
    <!-- <a class="poll-button" href='/#/questions/home'><button class='btn btn-default'>Guest Login</button></a> -->
  </div>
  
</div>
<script>
window.currentUser = <%= current_user.to_json.html_safe %>;
window.currentQuestion = <%= current_question.to_json.html_safe %>;
window.questionTimer = <%= Time.now().to_i - current_question.updated_at.to_i %>
//make a voted global
</script>
<script>$(OmniPoll.initialize);</script>


