<div class='jumbotron history-show'>
<!--title, chart and answers with counts -->
  <div class='title-col col-sm-6'> 
    <span class="label label-default question-label">
      <%= question.escape('title') %></span>
      <div class='chart'></div>
  </div>
  <div class='answers-col col-sm-6'>
    
  </div>
  <!-- <button class='btn btn-default'>Vote to Renew Poll</button> -->
</div>
