<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="question-title" 
    class="col-sm-8" id='question-label'
    name="question[title]">New Poll</label>
      <input type="text" class="form-control" id="question-title" 
      name="question[title]" placeholder="Title for Question">
  </div>
  
  
  
  <label for='answers-group' name='answers' class='col-sm-8'>    </label>
  <div class="form-group answers-group" id='answers-group'>
    <div class='answer-form'>  
     <div class="col-sm-7">
      <input type="text" class="form-control" id="answer-1"
      placeholder="Answer Title" name="answers[][title]">
      </div>
    <span class="remove-btn glyphicon glyphicon-remove-sign"></span>
    </div>


    <div class='answer-form'>    
    <div class="col-sm-7">
      <input type="text" class="form-control" id="answer-2"
      placeholder="Answer Title" name="answers[][title]">
    </div>
        <span class="remove-btn glyphicon glyphicon-remove-sign"></span>
    </div>
  </div>
    
     
  <span class="glyphicon glyphicon-plus-sign" id='add-answer'></span>

  <button type="submit" class="btn btn-default"
  id='submit-form'>Create Poll!</button>
</form>