<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="question-title" 
    class="col-sm-8"
    name="question[title]">Question</label>
      <input type="text" class="form-control" id="question-title" placeholder="Question">
  </div>
  
  <label for='answers-group' name='answers' class='col-sm-8'>    </label>
  <div class="form-group answers-group" id='answers-group'>
    <div class='answer-form'>  
     <div class="col-sm-7">
      <input type="text" class="form-control" id="answer-1"
      placeholder="Answer Title" name="answers[][title]">

    </div>
      <button class='remove-btn btn btn-danger btn-xs col-sm-1'>
        <span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class='answer-form'>    
    <div class="col-sm-7">
      <input type="text" class="form-control" id="answer-2"
      placeholder="Answer Title" name="answers[][title]">
    </div>
      <button class='remove-btn btn btn-danger btn-xs col-sm-1'>
        <span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
    
      <button class='btn btn-success btn-xs add-btn' id='add-answer'>
      <span class="glyphicon glyphicon-plus"></span></button>

  <button type="submit" class="btn btn-default"
  id='submit-form'>Create Poll!</button>
</form>