<span class="label label-default"><%= question.escape('title') %></span>


<div class='timer'></div>

<div class="chart"></div>

<ul class="answers list-group"></ul>


<% if (window.currentUser) { %>
  <button type="button" class="btn btn-default btn-lg" id='submit-vote'>
    <span class="glyphicon glyphicon-pencil"></span> Vote!
  </button>
<% } %>



