/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
$darkblue : #225378;
$teal : #1695A3;
$lightblue : #ACF0F2;
$offwhite : #F3FFE2;
$orange : #EB7F00;


.navbar{
  background-color: $teal;

}
.navbar-default .navbar-brand{
  color: white;
}
.nav > li{
  margin-right: 7px;
}
body {
//  background-image: -webkit-gradient(
//    linear,
//    left top,
//    right bottom,
//    color-stop(0.54, #F3FFE2),
//    color-stop(1, #ACF0F2)
//  );
  background-color: $offwhite;
//  background-size:  cover;
//  background-repeat: no-repeat;
}

.question-show {
  position: relative;
  background-color: #225378;
  padding-bottom: 73px;
   
  //  border: solid #EB7F00;
}

.question-show-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  .question-label {
    margin-left: 0px;
    height: 40px;
    padding: 10px;
    &:hover {
     background-color: #D17100; 
    }
  }
  
  .question-timer {
    margin-right: 0px;
    height: 40px;
    
    .textDiv_Seconds {
      width: 150px;
      margin-top: -104px;
      margin-right: -100px;
      padding-right: -100px;
      margin-left: 54px;
    }
  }
}



//#456
.list-group {
  margin-top: 30px;
  li{
    &:hover{
      background-color: #9AD7D9 ;
    }
  }
}

.list-group-item{
  background-color: $lightblue;
  border: none;
  margin: 5px;
}

.list-group-item .active{
  background-color: $darkblue;
}

.label-default{
  background-color: $orange;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.chart {
  position: relative;
  margin-top: 27px;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-default{
  background-color: $orange;
  border-radius: 47px;
  &:hover{
    background-color: #D17100;
  };
}

.badge{
  background-color: $orange;
  
}

#create-answer{
  float:left;
  margin-bottom: 10px ;
  font-size: 17px;
}

#submit-vote{
  float: right;
  margin-bottom: 10px ;
  border-radius: 47px ;
  font-size: 17px;
}

.countdown-container {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
}
.clock-item .inner {
height: 0px;
padding-bottom: 100%;
position: relative;
width: 100%;
}
.clock-canvas {
background-color: rgba(255, 255, 255, .1);
border-radius: 50%;
height: 0px;
padding-bottom: 100%;
}
.text {
color: #fff;
font-size: 30px;
font-weight: bold;
margin-top: -50px;
position: absolute;
top: 50%;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
width: 100%;
}
.text .val {
font-size: 50px;
}
.text .type-time {
font-size: 20px;
}

//.timer{
//  width: 200px;
//  height: 200px;
//}