/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
$darkblue : #225378;
$teal : #1695A3;
$lightblue : #ACF0F2;
$offwhite : #F3FFE2;
$orange : #EB7F00;



.alert-success{
  margin-top: 15px;
}
body {
//  background-image: -webkit-gradient(
//    linear,
//    left top,
//    right bottom,
//    color-stop(0.54, #F3FFE2),
//    color-stop(1, #ACF0F2)
//  );
//  background-color: $offwhite;
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

}
form.button_to {
margin-top: 15px;
}

#splash{
  background-size:  cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 52px;
  left: 0px;
  
  background-image: url("audience-splash.jpg");
}

.question-show {
  position: relative;
  background-color: #225378;
  padding-bottom: 73px;
   
  //  border: solid #EB7F00;
}
.answers-col{
  li.list-group-item {
  height: 30px;
  font-size: 13px;
  }
}
.question-show-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  .question-label {
    margin-left: 0px;
    height: 40px;
    padding: 10px;
//    &:hover {
//     background-color: #148591;
//    }
  }
  
  .question-timer {
    margin-right: 0px;
    height: 40px;

    
    .textDiv_Seconds {
      width: 150px;
      margin-top: -104px;
      margin-right: -100px;
      padding-right: -100px;
      margin-left: 62px;
    }
    .textDiv_Minutes {
      width: 150px;
      margin-top: -104px;
      margin-right: -100px;
      padding-right: -100px;
      margin-left: 62px;
      h4{
        line-height: 0px;
      }
    }
  }
}



//#456
.list-group {
  margin-top: 30px;
  li{
    &:hover{
      opacity: 0.9 ;
    }
  }
}

.list-group-item{
  background-color: $lightblue;
  border: none;
  margin: 5px;
}

.list-group-item .active{
  background-color: $darkblue;
}

.label-default{
  background-color: $teal;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

input.btn.btn-default.navbar-btn {
margin-right: 15px;
}

.chart {
  position: relative;
  margin-top: 27px;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-default{
  background-color: $orange;
  border-radius: 47px;
  &:hover{
    background-color: #D17100;
  };
}

.badge{
  background-color: $orange;
  
}
#submit-vote{
  float: right;
  margin-bottom: 10px ;
  border-radius: 47px ;
  font-size: 17px;
}

// Timer styling

.countdown-container {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
}
.clock-item .inner {
height: 0px;
padding-bottom: 100%;
position: relative;
width: 100%;
}
.clock-canvas {
background-color: rgba(255, 255, 255, .1);
border-radius: 50%;
height: 0px;
padding-bottom: 100%;
}
.text {
color: #fff;
font-size: 30px;
font-weight: bold;
margin-top: -50px;
position: absolute;
top: 50%;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
width: 100%;
}
.text .val {
font-size: 50px;
}
.text .type-time {
font-size: 20px;
}

/*

Quesiton form formatting



*/
button.remove-btn.btn.btn-danger.btn-xs.col-sm-1 {
  border-radius: 45px;
  width: 23px;
  margin-left: -11px;
  margin-top: 5px;
}

button#add-answer{
  border-radius: 45px;
  width: 23px;
  margin-top: -24px;
  margin-left: 16px;
}

button#submit-form {
display: block;
}

a > #new-question{
  margin-top: -7px;
  margin-right: -8px;
  /* padding-top: 9px; */
  height: 34px;
  font-size: 14px;
}

#create-answer{
  float:left;
  margin-bottom: 10px ;
  font-size: 17px;
}


// History Page
.history-show {
  border-radius: 6px;
//  height: 282px;
  background-color: $darkblue;
}

.answers-col.col-sm-6 {
  margin-left: 43px;
  margin-top: 39px;
}

.title-col.col-sm-6 {
  margin-left: -43px;
  margin-top: -23px;
}

//.timer{
//  width: 200px;
//  height: 200px;
//}


//Header Styling

.navbar{
  background-color: $teal;
  img{
    float:left;
    margin-top: 7px;
  }

}
.navbar-default .navbar-brand{
  color: white;
}
.nav > li{
  margin-right: 7px;
}

form.button_to {
  margin-top: 15px;
  margin-left: -15px;
}

a > #new-question {
  margin-top: -20px;
  margin-right: -26px;
  margin-bottom: -15px;
}

.navbar-btn {
margin-top: -17px;
margin-bottom: -13px;
}

.backdrop{
  text-align:center;
  margin-top: 20%;
}


