/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
/*.timer{
  margin-left: auto;
  margin-right: -11%;
  margin-top: -7%;
}

.time_circles {
    position: relative;
    float: right;
    width: 80%;
    height: 80%;
}*/

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
/*.time_circles > div {
    position: absolute;
    text-align: right;
    margin-left: 80px;
}*/

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    text-align: center;*/
  font-size: 10.5;
    text-transform: uppercase;
    color: #F3FFE2;
    font-family: 'Century Gothic', Arial;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
/*   display: block;
    width: 100%;
    text-align: center;*/
    color: #F3FFE2;
    font-family: 'Century Gothic', Arial;
    font-size: 300%;
/*    margin-top: 0.4em;*/
    font-weight: bold;
}
